<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
%pip install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
Using legacy 'setup.py install' for sqlalchemy, since package 'wheel' is not installed.
Installing collected packages: sqlalchemy
    Running setup.py install for sqlalchemy: started
    Running setup.py install for sqlalchemy: finished with status 'done'
Successfully installed sqlalchemy-1.3.9

WARNING: You are using pip version 21.2.3; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Program Files\Python39\python.exe -m pip install --upgrade pip' command.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [6]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [7]:
%pip install -q pandas==1.1.5

^C

In [8]:
%sql sqlite:///my_data1.db

UsageError: Line magic function `%sql` not found.

In [9]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\Users\Sangam Traders\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

WARNING: You are using pip version 21.2.3; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Program Files\Python39\python.exe -m pip install --upgrade pip' command.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
# Execute the SQL query to retrieve the unique launch sites
cur.execute("SELECT DISTINCT Launch_Site FROM SPACEXTBL")

results = cur.fetchall()

# Iterate over the rows and print the data
for row in results:
    print(row)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)
(None,)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
cur.execute("SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5")

# Fetch all rows from the result set
results = cur.fetchall()

# Iterate over the rows and print the data
for row in results:
    print(row)

('06/04/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('12/08/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0.0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525.0, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('10/08/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('03/01/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
# Execute the PRAGMA statement to get column information
cur.execute("PRAGMA table_info(SPACEXTBL)")

# Fetch all the rows returned by the query
rows = cur.fetchall()

# Extract the column names from the rows
column_names = [row[1] for row in rows]

# Print the column names
print("Column names of table SPACEXTBL:")
for column_name in column_names:
    print(column_name)

Column names of table SPACEXTBL:
Date
Time (UTC)
Booster_Version
Launch_Site
Payload
PAYLOAD_MASS__KG_
Orbit
Customer
Mission_Outcome
Landing_Outcome

In [17]:
# Execute the SELECT query
cur.execute("SELECT SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass FROM SPACEXTBL WHERE Customer = 'NASA (CRS)'")

# Fetch the result
result = cur.fetchone()

# Extract the total payload mass
total_payload_mass = result[0]

# Print the total payload mass
print("Total Payload Mass carried by NASA (CRS):", total_payload_mass)

Total Payload Mass carried by NASA (CRS): 45596.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [19]:
# Execute the SELECT query
cur.execute("SELECT AVG(PAYLOAD_MASS__KG_) AS AveragePayloadMass FROM SPACEXTBL WHERE Booster_Version = 'F9 v1.1'")

# Fetch the result
result = cur.fetchone()

# Extract the average payload mass
average_payload_mass = result[0]

# Print the average payload mass
print("Average Payload Mass carried by booster version F9 v1.1:", average_payload_mass)

Average Payload Mass carried by booster version F9 v1.1: 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [20]:
# Execute the SQL query
cur.execute("SELECT MIN(Date) FROM SPACEXTBL WHERE \"Landing_Outcome\" LIKE 'Success (ground pad)%'")

# Fetch the result
result = cur.fetchone()

# Print the date
print("Date of first successful landing outcome in ground pad:", result[0])

Date of first successful landing outcome in ground pad: 01/08/2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [23]:
# Execute the SQL query
cur.execute("SELECT DISTINCT Booster_Version FROM SPACEXTBL WHERE \"Landing_Outcome\" = 'Success' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000")

# Fetch the results
results = cur.fetchall()

# Print the booster names
print("Boosters with successful landing on drone ship and payload mass between 4000 and 6000:")
for row in results:
    print(row[0])

Boosters with successful landing on drone ship and payload mass between 4000 and 6000:
F9 B5 B1046.2
F9 B5 B1047.2
F9 B5 B1048.3
F9 B5 B1051.2
F9 B5B1060.1
F9 B5 B1058.2
F9 B5B1062.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [24]:
# Execute the SQL query for successful mission outcomes
cur.execute("SELECT COUNT(*) FROM SPACEXTBL WHERE \"Mission_Outcome\" = 'Success'")

# Fetch the result for successful mission outcomes
success_count = cur.fetchone()[0]

# Execute the SQL query for failed mission outcomes
cur.execute("SELECT COUNT(*) FROM SPACEXTBL WHERE \"Mission_Outcome\" = 'Failure'")

# Fetch the result for failed mission outcomes
failure_count = cur.fetchone()[0]

# Print the total number of successful and failure mission outcomes
print("Total number of successful mission outcomes:", success_count)
print("Total number of failure mission outcomes:", failure_count)

Total number of successful mission outcomes: 98
Total number of failure mission outcomes: 0

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [51]:
# Execute the SQLite query
cur.execute("""
    SELECT
        CASE substr(Date, 4, 2)
            WHEN '01' THEN 'January'
            WHEN '02' THEN 'February'
            WHEN '03' THEN 'March'
            WHEN '04' THEN 'April'
            WHEN '05' THEN 'May'
            WHEN '06' THEN 'June'
            WHEN '07' THEN 'July'
            WHEN '08' THEN 'August'
            WHEN '09' THEN 'September'
            WHEN '10' THEN 'October'
            WHEN '11' THEN 'November'
            WHEN '12' THEN 'December'
            ELSE 'Unknown'
        END AS Month,
        landing_outcome,
        booster_version,
        launch_site
    FROM
        SPACEXTBL
    WHERE
        substr(Date, 7, 4) = '2015'
        AND landing_outcome = 'Failure (drone ship)'
""")

# Fetch all the rows returned by the query
rows = cur.fetchall()

# Print the column names
print("Month\t\tLanding Outcome\t\tBooster Version\t\tLaunch Site")
for row in rows:
    month = row[0]
    landing_outcome = row[1]
    booster_version = row[2]
    launch_site = row[3]
    print(f"{month}\t\t{landing_outcome}\t\t{booster_version}\t\t{launch_site}")

Month		Landing Outcome		Booster Version		Launch Site
October		Failure (drone ship)		F9 v1.1 B1012		CCAFS LC-40
April		Failure (drone ship)		F9 v1.1 B1015		CCAFS LC-40

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [53]:
# Execute the SQLite query
cur.execute("""
    SELECT
        landing_outcome,
        COUNT(*) AS successful_landings
    FROM
        SPACEXTBL
    WHERE
        Date BETWEEN '2010-06-04' AND '2017-03-20'
        AND landing_outcome = 'Success (drone ship)'
    GROUP BY
        landing_outcome
    ORDER BY
        successful_landings DESC
""")

# Fetch all the rows returned by the query
rows = cur.fetchall()

# Print the result
print("Landing Outcome\t\tSuccessful Landings")
for row in rows:
    landing_outcome = row[0]
    successful_landings = row[1]
    print(f"{landing_outcome}\t\t\t{successful_landings}")

Landing Outcome		Successful Landings

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>